<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{name: 'Home'}">Compteurs</router-link> |
      <router-link :to="{name: 'IndexShip'}">SWAPI</router-link>
    </div>
    <router-view/>
  </div>
</template>
<script>

export default {
  name: "App",
  mounted() {
    this.$store.dispatch("fetchShips")
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
